*.a
*.bak
*.cmake
*.o
*.so
*.sqlite
*.sqlite-journal
*.sqlite.*
*.stamp
*.tar.xz
*.zip
.*.swp
.settings/*
CMakeCache.txt
CMakeFiles/*
DartConfiguration.tcl
Version.cpp
amalgamation.cpp
build/
cmake_install.cmake
doc/*
gmon.out
railcontrol
railcontrol.conf
railcontrol.exe
railcontrol.log
railcontrol.log.*
tools/Cc-Schnitte-Sniffer
